/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --primary-col: #F7972D;
    --secondary-col: #4E3969;
    --main-bg-col: #F6F5F3;
    --footer-bg-col: #7C69A4;
    --footer-txt-col: #ffffff;
    --shadow-col: #8d8d8d;
}

/* Generics  */
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

main{
    background-color: var(--main-bg-col);
}

/* Utils  */
.container{
    max-width: 100vw;
    padding: 20px;
}

.flex{
    display: flex;
}

.shadow-effect{
    filter: drop-shadow(2px 0 1px var(--shadow-col));
}

.border{
    border: 1px solid var(--primary-col);
}

/* Header  */
.main-header{
    font-family: 'Nerko One', cursive;
    color: var(--primary-col);
    text-align: center;
}

/* Main */