/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --primary-col: #F7972D;
    --secondary-col: #4E3969;
    --main-bg-col: #F6F5F3;
    --footer-bg-col: #7C69A4;
    --footer-txt-col: #ffffff;
    --shadow-col: #8d8d8d;
    --facebook-col: #448CF4;
    --twitter-col: #27A1FF;
    --insta-col: #E15587;
    --pinterest-col: #E62322;
    --youtube-col: #E62122;
}

/* Generics  */
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

main{
    background-color: var(--main-bg-col);
}

img{
    max-width: 100%;
}

iframe{
    width: 100%;
    height: 400px;
}

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

/* Utils  */
.container{
    max-width: 100vw;
    padding: 20px;
}

.flex{
    display: flex;
}

.shadow-box{
    box-shadow: 0 0 10px var(--shadow-col);
}

.shadow-effect{
    filter: drop-shadow(2px 0 1px var(--shadow-col));
}

.border{
    border: 1px solid var(--primary-col);
}

.border-radius{
    border-radius: 20px;
}

/* Header  */
.main-header{
    font-family: 'Nerko One', cursive;
    color: var(--primary-col);
    text-align: center;
}

/* Main */

/* recipe section  */
p.subtitle{
    font-size: 20px;
}

.title>h1{
    color: var(--secondary-col);
    display: inline;
}

.title-details{
    color: var(--secondary-col);
    font-size: 30px;
    font-weight: bold;
    display: none;
}

.title-rcp{
    flex-direction: row;
    justify-content: space-between;
}

.fa-star-color{
    color: var(--primary-col);
}

span.rate{
    background-color: var(--primary-col);
    padding: 5px 10px;
}

.details{
    padding: 20px;
}

.vid-kcal{
    background-color: rgb(235, 226, 241);
    padding: 20px;
}

.calories{
    justify-content:space-between ;
    padding: 10px 0;
}

.kcal-nr{
    background-color: var(--footer-bg-col);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
}



.plus-info{
    color: var(--primary-col);
    font-weight: 700;
    font-size: 16px;
}

.details .border{
    border: 1px solid var(--shadow-col);
}

.veget{
    padding: 10px 0;
}

.vid-dtls{
    padding: 20px 0;
}

.vid-dtls ul{
    flex-direction: column;
    gap: 10px;
}

.vid-dtls>ul>li::before{
    color: var(--primary-col);
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 5px;
}

.difficulty::before{
    content: "\f091";
}

.time::before{
    content: '\f017';
}
.portion::before{
    content: '\f818';
}
.cost::before{
    content: '\f153';

}
.note::before{
    content: '\f08d';

}



/* social media part  */
.social-media{
    justify-content: space-around;
}

.social-media li{
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 10px;
}

.fa-brands{
    margin: 5px;
}

.fa-facebook-color{
    /* facebook icon color  */
    color: var(--facebook-col);
}
.fa-twitter-color{
    /* twitter icon color  */
    color: var(--twitter-col);
}
.fa-insta-color{
    /* insta icon color  */
    color: var(--insta-col);
}
.fa-pinterest-color{
    /* pinterest icon color  */
    color: var(--pinterest-col);
}
.fa-youtube-color{
    /* youtube icon color  */
    color: var(--youtube-col);
}

.label{
    display: none;
}

/* Advertising section  */
.ads{
    display: none;
}

/* presentation section  */
#tiramisu{
    width: 300px;
    margin: 5px auto;
}

.presentation .border{
    width: 15%;
}

.presentation figure{
    text-align: center;
}