/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --primary-col: #F7972D;
    --secondary-col: #4E3969;
    --main-bg-col: #F6F5F3;
    --footer-bg-col: #7C69A4;
    --footer-txt-col: #ffffff;
    --shadow-col: #8d8d8d;
    --facebook-col: #448CF4;
    --twitter-col: #27A1FF;
    --insta-col: #E15587;
    --pinterest-col: #E62322;
    --youtube-col: #E62122;
}

/* Generics  */
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

main{
    background-color: var(--main-bg-col);
}

img{
    max-width: 100%;
}

iframe{
    width: 100%;
}

/* Utils  */
.container{
    max-width: 100vw;
    padding: 20px;
}

.flex{
    display: flex;
}

.row{
    width: 100%;
}

.col{

}

.shadow-box{
    box-shadow: 0 0 10px var(--shadow-col);
}

.shadow-effect{
    filter: drop-shadow(2px 0 1px var(--shadow-col));
}

.border{
    border: 1px solid var(--primary-col);
}

.border-radius{
    border-radius: 20px;
}

/* Header  */
.main-header{
    font-family: 'Nerko One', cursive;
    color: var(--primary-col);
    text-align: center;
}

/* Main */

/* recipe section  */
p.subtitle{
    font-size: 20px;
}

h2.details{
    display: none;
}

.title-rcp{
    flex-direction: row;
    justify-content: space-between;
}

.fa-star-color{
    color: var(--primary-col);
}

span.rate{
    background-color: var(--primary-col);
    padding: 5px 10px;
}

ul.col-down{
    list-style-type: none;
}

/* social media part  */
.fa-facebook-color{
    /* facebook icon color  */
    color: var(--facebook-col);
}
.fa-twitter-color{
    /* twitter icon color  */
    color: var(--twitter-col);
}
.fa-insta-color{
    /* insta icon color  */
    color: var(--insta-col);
}
.fa-pinterest-color{
    /* pinterest icon color  */
    color: var(--pinterest-col);
}
.fa-youtube-color{
    /* youtube icon color  */
    color: var(--youtube-col);
}

/* presentation section  */
#tiramisu{
    width: 300px;
    margin: 5px auto;
}
