/* tablet mode  */
@media screen and (min-width: 769px) {
    /* header title start  */
    .main-header{
        text-align: start;
    }
    /* padding container increase */
    .container{
        padding: 30px;
    }
    /* show dolce tradicionale  */
    .title-details{
        display: inline;
    }
    /* Title scale  */
    .title>h1{
        font-size: 30px;
    }
    /* Video details comes in grile mode  */
    .vid-dtls ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .vid-dtls li{
        flex-basis: calc(100%/3 - 20px/3);
    }

}

/* Desktop mode  */
@media screen and (min-width: 992px) {
    .video{
        display: flex;
    }  
    .iframe{
        width: 70%;
    }
    .details{
        width: 30%;
    }
    .vid-dtls ul{
        flex-direction: column;
    }
}